
.jumbotron {
    padding-top: 100px;
    margin: 0px auto;
   /*background-image: url("../img/sandro-schuh-HgwY_YQ1m0w-unsplash.jpg");*/
   background-color: #8ee4af;
    color: floralwhite;
}

.navbar {
    /* background-color: #379683; */
    background-color: #8ee4af;;
}

.row-content {
    margin: 0px auto;
    padding-top: 25px;
    padding-bottom: 10px;
    /* -webkit-box-shadow: 10px 10px 44px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 10px 44px 1px rgba(0,0,0,0.62);
    box-shadow: 10px 10px 44px 1px rgba(0,0,0,0.62); */
    /* color: #05386b; */
}

.row-content2 {
    margin: 0px auto;
    padding-top: 25px;
    padding-bottom: 10px;
    -webkit-box-shadow: 10px 10px 44px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 10px 44px 1px rgba(0,0,0,0.62);
    box-shadow: 10px 10px 44px 1px rgba(0,0,0,0.62);
    /* color: #05386b; */
}

.navbar .navbar-brand {
    color: #05386b;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #05386b;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    color: #05386b;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border: #8ee4af solid;
}

.card:hover {
    background-color: #8ee4af;
}

.blockquote {
    padding: 20px;
}

h2 {
    color: #05386b;;
}

.myfooter {
    background-color: #8ee4af;
    padding-top: 20px;
}

.myfooter h5 {
    color:  #05386b;
}
/* .myfooter li {
     list-style: none;
    
 } */

 .list-group-item {
     background-color: #8ee4af;
     padding: 5px;
 }

